# Windows:
Desktop.ini
ehthumbs.db
Thumbs.db

# Temp:
.loadpath
.settings
.vscode
*_vti_*
*.bak
*.ignore
*.orig
*.swp
*.tmp
*.zip
*~
*~.nib
local.properties
Log
log
**/node_modules/*
!**/node_modules/util
package-lock.json
Temp
temp
